* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
} /*se eu definir uma caixa com width 100px, no total a caixa ficará com mais de 100px por causa do padding e do border. Ao usar box-sizing: border-box, a caixa terá exatamente 100px, incluindo o padding e o border*/

body{
    font-family: "Work Sans", sans-serif;
    background-color: #f9f9f9;
}

h1{
    font-family: "Fjalla One", sans-serif;
}

main{
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

header{
    text-align: center;
    margin-bottom: 20px;
}

form{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
}

fieldset{
    padding: 15px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

legend{
    font-weight: bold;
    font-size: 18px;
    padding: 0 5px;
}

img{
    width: 100px;
}